<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="AssemblySlope(URDF).SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-7.78401559733182E-17 0.194017094017094 1.11200222819026E-17"
        rpy="0 0 0" />
      <mass
        value="39" />
      <inertia
        ixx="3.62391648860399"
        ixy="1.30805053769152E-17"
        ixz="-7.51290299723499E-17"
        iyy="3.6603125"
        iyz="-1.04238625536293E-16"
        izz="1.00360398860399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AssemblySlope(URDF).SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://AssemblySlope(URDF).SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>