<?xml version="1.0"?>
<robot name="roof">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="2 1 0.3"/>
      </geometry>
  	<origin rpy="0 0 0" xyz="0 0 0.8"/>
    </visual>
    <collision>
      <geometry>
        <box size="2.2 1.2 0.4"/>
      </geometry>
    <origin rpy="0 0 0" xyz="0 0 0.8"/>
    </collision>
  </link>
</robot>
